{% extends "base.html" %}




{% block page_content %}

<style>

    .blink {
     animation: blink 1s steps(1, end) infinite;
    }

    
    @keyframes blink {
    
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    
    }
    
    .fixed {
        position: absolute;
        left:1cm;
        top: 0.7cm;
    }
    
</style>


<header>

    <span class="fixed">
    <h1 style="color:rgb(0, 255, 0); font-family:'Courier New', Courier, monospace; font-size: large; padding: 0cm; text-shadow:
    0 0 10px rgb(0, 255, 0),
    0 0 92px rgb(0, 255, 0),
    0 0 151px rgb(0, 255, 0);">
        C:/marcus/home><span class="blink">_</span>
    </h1>
    </span>
    
</header>

<body>
<p style="white-space: pre; color:rgb(0, 255, 0); font-family:'Courier New', Courier, monospace; font-size:small; padding: 0cm; position: absolute; top: 22%; left: 18%;text-shadow:
0 0 100px rgb(0, 50, 0),
0 0 92px rgb(0, 255, 0),
0 0 50px rgb(0, 255, 0);">
           _____                    _____                    _____                    _____                    _____                    _____          
          /\    \                  /\    \                  /\    \                  /\    \                  /\    \                  /\    \         
         /::\____\                /::\    \                /::\    \                /::\    \                /::\____\                /::\    \        
        /::::|   |               /::::\    \              /::::\    \              /::::\    \              /:::/    /               /::::\    \       
       /:::::|   |              /::::::\    \            /::::::\    \            /::::::\    \            /:::/    /               /::::::\    \      
      /::::::|   |             /:::/\:::\    \          /:::/\:::\    \          /:::/\:::\    \          /:::/    /               /:::/\:::\    \     
     /:::/|::|   |            /:::/__\:::\    \        /:::/__\:::\    \        /:::/  \:::\    \        /:::/    /               /:::/__\:::\    \    
    /:::/ |::|   |           /::::\   \:::\    \      /::::\   \:::\    \      /:::/    \:::\    \      /:::/    /                \:::\   \:::\    \   
   /:::/  |::|___|______    /::::::\   \:::\    \    /::::::\   \:::\    \    /:::/    / \:::\    \    /:::/    /      _____    ___\:::\   \:::\    \  
  /:::/   |::::::::\    \  /:::/\:::\   \:::\    \  /:::/\:::\   \:::\____\  /:::/    /   \:::\    \  /:::/____/      /\    \  /\   \:::\   \:::\    \ 
 /:::/    |:::::::::\____\/:::/  \:::\   \:::\____\/:::/  \:::\   \:::|    |/:::/____/     \:::\____\|:::|    /      /::\____\/::\   \:::\   \:::\____\
 \::/    / ~~~~~/:::/    /\::/    \:::\  /:::/    /\::/   |::::\  /:::|____|\:::\    \      \::/    /|:::|____\     /:::/    /\:::\   \:::\   \::/    /
  \/____/      /:::/    /  \/____/ \:::\/:::/    /  \/____|:::::\/:::/    /  \:::\    \      \/____/  \:::\    \   /:::/    /  \:::\   \:::\   \/____/ 
              /:::/    /            \::::::/    /         |:::::::::/    /    \:::\    \               \:::\    \ /:::/    /    \:::\   \:::\    \     
             /:::/    /              \::::/    /          |::|\::::/    /      \:::\    \               \:::\    /:::/    /      \:::\   \:::\____\    
            /:::/    /               /:::/    /           |::| \::/____/        \:::\    \               \:::\__/:::/    /        \:::\  /:::/    /    
           /:::/    /               /:::/    /            |::|  ~|               \:::\    \               \::::::::/    /          \:::\/:::/    /     
          /:::/    /               /:::/    /             |::|   |                \:::\    \               \::::::/    /            \::::::/    /      
         /:::/    /               /:::/    /              \::|   |                 \:::\____\               \::::/    /              \::::/    /       
         \::/    /                \::/    /                \:|   |                  \::/    /                \::/____/                \::/    /        
          \/____/                  \/____/                  \|___|                   \/____/                  ~~                       \/____/         
                                                                                                                                                       
</p>

<p style="white-space: pre; color:rgb(0, 255, 0); font-family:'Courier New', Courier, monospace; font-size:medium; padding: 0cm; position: absolute; top:24cm; left:13cm;">
</p>
</body>

{% endblock page_content %}